label {
  font-weight: normal;
}
.navbar-nav > li > a.user-nav-item {
  margin-right: -30px;
}

.panel-login {
  margin-top: 100px;
}
.panel-login img {
  padding-bottom: 15px;
  width: 40px;
}
.panel-login input {
margin-bottom: 10px;
}

.nowrap-ellipsis {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.label-fake-input {
display: inline-block;
line-height: 34px;
width: 100%;
}

.alert span {
margin: 6px 15px;
}

.loading-spinner {
text-align: center;
background: #f5f5f5;
padding: 10px;
}

.form-headers .btn-link {
padding: 6px;
}
.form-headers div.checkbox {
padding: 6px 10px 6px 0;
}

.amount-container {
display: inline-block;
}
.amount-container span {
min-width: 50px; 
width: 100%;
height: 16px; 
display: inline-block;
}
.amount-container.bold span {
font-weight: bold;
}
.amount-container:not(.read-only) span {
cursor: pointer;
}
.amount-container:not(.read-only) span:hover {
background: rgba(0,0,0,0.1);
}

table.floatThead-table {
border-top: none;
border-bottom: none;
background-color: #fff;
}

.table-finances {
  thead {
    
  }
  tbody {
    tr {
      td.vertical {
        vertical-align: middle !important;
        line-height: 0 !important;
        padding: 0 !important;

        div {
          transform: rotate(-90deg);
          line-height: 0;
        }
      }

      td.td-chevron {
        width: 24px;
        text-align: center;
      }
    }
  }
}

.table-finances tbody tr,
.table-finances thead tr th {
text-align: center;
}
.table-finances thead tr .separator {
position: relative;
}
.table-finances thead tr .separator:after {
  content: '';
  background: rgba(0,0,0,0.1);
  width: 1px;
  height: 18px;
  top: 10px;
  right: -1px;
  display: block;
  position: absolute;
}
.table-finances tbody tr td, .table-finances tfoot tr td {
  text-align: right;
  padding: 8px 3px;
}
.table-finances tbody tr:not(.tr-total) td:not(:last-child):nth-child(n+3) {
  border-left: 1px solid;
  border-left-color:rgba(0,0,0,0.05);
}
